page-login {


}
.logo{
    margin : 0 auto;
    display: block;
    height: 25%;
}

ion-card ion-row {
    padding : 10px;
    float: right;
}

ion-card ion-card-content ion-item ion-label{
    text-align : left;
}