page-list {

}
.max-heigth-90{
    max-height: 90%;
}
.toolbar-background {
    background: #fff;
    border-color: transparent;
  }

  .slide-title {
    margin-top: 2.8rem;
    height: 10%;
  }

  .slide-image {
    height: 20%;
    margin: auto;
  }


  .slide-description{
    height: 40%;
  }

  .slide-button{
    height: 10%;
  }
  b {
    font-weight: 500;
  }

  p {
    padding: 0 40px;
    font-size: 14px;
    line-height: 1.5;
    color: #60646B;

    b {
      color: #000000;
    }
   
  }